{{>default/header}}

<body>
  <!--naviagation-->
    {{>default/topnavigation}}
  
       
  <!-- Page Content -->
  <div class="container">
 {{>default/default-message}}
 
    {{{body}}}

  </div>
  <!-- /.container -->

  {{>default/footer}}